

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700;800&family=Poppins:wght@400;500&display=swap');




.font-poppins{
    font-family: "Poppins", sans-serif;
}
.font-anton{
    font-family: "Anton", sans-serif;

}



 #main-img{
    background-image: url(../images/background.png);
    
    background-repeat: no-repeat;
    background-position: center;
}